@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Light theme */
  --color-background-light: #ffffff;
  --color-foreground-light: #0a0a0a;
  --dot-color-light: #60e4fc;
  /* Dark theme */
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ffffff;
  --dot-color-dark: #094074;
  /* Global */
  --font-prompt: var(--font-prompt);
}

:root[data-theme="light"] {
  background-color: var(--color-background-light);
  color: var(--color-foreground-light);
  --background: var(--color-background-light);
  --dot-color: var(--dot-color-light);
}

:root[data-theme="dark"] {
  background-color: var(--color-background-dark);
  color: var(--color-foreground-dark);
  --background: var(--color-background-dark);
  --dot-color: var(--dot-color-dark);
}

body {
  font-family: var(--font-prompt), Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}